body {
    border: 1px solid black;
}
.main_block div {
    height: 50px;
    width: 1000px;
    background-color: rgb(102, 217, 255);
    margin: 0 5px 15px; 
    font-size: 20px;
    border: 5px solid blue; 
    padding-left: 20px; 
    display: flex;
    align-items: center;    
}

.main_block{
    position: relative;
}

.main_block div:first-child{
    margin-top: 40px;
}
span{
    background-color: red;
    border: 1px solid black;
}
.red{
    height: 60px;
    width: 1000px;
    background-color: rgb(102, 217, 255);
    border: 5px solid blue;
    font-size: 20px;
    margin: 0 5px 15px;
    padding: 20px 10px 20px 10px;
}
.yellow {
    height: 50px;
    width: 600px;
    background-color: yellow;
    margin-left: 40px;
    position: fixed;
    top:7%;
    font-size: 20px;
    border: 5px solid blue; 
    padding-left: 20px; 
    display: flex;
    align-items: center; 
}